.ctn-barraSup{
  background-color: black;
  height: 8vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  font-size: 2.7em;
}

.logo-barraSup{
  margin-right: 2%;
}

.links-barraSup{
  width: 15%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
}

.links-barraSup a{
  color: #EAE320;
}

.links-barraSup a:hover{
  color: orange;
}

.der-barraSup{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.salir-barraSup{
  font-size: 0.4em;
  padding-right: 15px;
  cursor: pointer;
  color: red;
}

.salir-barraSup:hover{
  color: orangered;
  font-size: 0.5em;
}

.status-barraSup{
  font-size: 0.3em;
  text-align: center;
}

.status-barraSup p{
  text-decoration: underline yellowgreen;
  padding-bottom: 4px;
}
